.App {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding-bottom: 2rem;
}

button {
    width: 5rem;
    margin: 1rem 0.1rem;
    border: 2px solid hotpink;
    background-color: pink;
    line-height: 1.5rem;
    border-radius: 0.5rem;
    color: red;
}

.notes-form {
    display: flex;
    flex-direction: column;
    width: 60vw;
    border-radius: 0.5rem;
    margin: auto;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes-form>input,
textarea {
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: 2px solid tomato;
    border-bottom: 0px;
    outline: none;
    border-radius: 0.5rem;
}

.notes-form>textarea {
    border-bottom: 2px solid tomato;
    border-top: none;
    min-height: 10rem;
}

.card {
    width: 15rem;
    border: 2px solid limegreen;
    padding: 5px 10px;
    margin: 0.5rem auto;
    border-radius: 0.5rem;
}

.card>h3 {
    margin-top: 0px;
}

.notes-card {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 60vw;
}

@media screen and (max-width:768px) {
    .notes-form {
        display: flex;
        flex-direction: column;
        width: 90vw;
    }
    .card {
        min-width: 85vw;
        border: 2px solid limegreen;
        margin: 0.5rem 1rem;
    }
}


/* .App-logo {
    height: 40vmin;
    pointer-events: none;
} */


/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */


/* .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */


/* .App-link {
    color: #61dafb;
} */


/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */